.ant-steps-item-icon {
  background-color: #ef4444 !important;
  height: 42px !important;
  width: 42px !important;
  border-radius: 42px !important;
  line-height: 42px !important;
  color: white !important; 
}

.ant-steps-item-icon > * {
  color: white !important;
}


.ant-steps-item-title {
  line-height: 42px !important;
}

.ant-steps-item-title::after {
  top: 21px !important;
  background-color: #000 !important;
}
