/* .ant-tabs-nav {
  background-color: #f5f5f5 !important;
  padding: 0 !important;
}

.ant-tabs-tab {
  margin: 0 !important;
}

.ant-tabs-tab-btn {
  color: #000 !important;
}

.ant-tabs-ink-bar {
  display: none !important;
} */
